<div class="jumbotron">
    <h1>Resources server</h1>
    <p>Resources server is UP, and accepting all requests.</p>    
    <p>For more informations about API's Methods, choose "API" or "Docs" options.</p>
</div>
