<div class="jumbotron">
    <h1>Authorization server</h1>
    <p>Authorization server is UP, and accepting all requests. To request Tokens, provide your credentials</p>
    <p>For more informations about API's Methods, choose "API" menu.</p>
</div>
